># `acquire.py`

### Acquire Section of `wrangle.py` file

In [60]:
# imports
from env import user, host, password
import os
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', None)

In [1]:
# story query in variable
query = '''
SELECT prop.*, 
       pred.logerror, 
       pred.transactiondate, 
       air.airconditioningdesc, 
       arch.architecturalstyledesc, 
       build.buildingclassdesc, 
       heat.heatingorsystemdesc, 
       landuse.propertylandusedesc, 
       story.storydesc, 
       construct.typeconstructiondesc 
FROM   properties_2017 prop  
       INNER JOIN (SELECT parcelid,
       					  logerror,
                          Max(transactiondate) transactiondate 
                   FROM   predictions_2017 
                   GROUP  BY parcelid, logerror) pred
               USING (parcelid) 
       LEFT JOIN airconditioningtype air USING (airconditioningtypeid) 
       LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid) 
       LEFT JOIN buildingclasstype build USING (buildingclasstypeid) 
       LEFT JOIN heatingorsystemtype heat USING (heatingorsystemtypeid) 
       LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid) 
       LEFT JOIN storytype story USING (storytypeid) 
       LEFT JOIN typeconstructiontype construct USING (typeconstructiontypeid) 
WHERE  prop.latitude IS NOT NULL 
       AND prop.longitude IS NOT NULL AND transactiondate <= '2017-12-31'; 
            '''

In [13]:
def get_zillow():
    '''
    
    '''
    
    # storing url string connection string into variable
    url = f'mysql+pymysql://{user}:{password}@{host}/{"zillow"}'
        
    # reading sql query into df using sql server url connection string
    df = pd.read_sql(query, url)
    
    return df

In [14]:
def acquire_zillow(file_name):
    '''
    
    '''
    
    # checking for local csv file
    if os.path.isfile(file_name):
        
        # if local csv exists, will read into df
        df = pd.read_csv(file_name)
        
    # if local csv file does not exist will run get_zillow function to acquire data from sql server
    else:
        
        df = get_zillow()
        
        # and caching data into a local csv file
        df.to_csv(file_name)
        
    return df

In [15]:
acquire_zillow('zillow.csv')

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77569,2864704,10833991,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037132e+13,-0.002245,2017-09-20,Central,None,None,Central,Condominium,None,None
77570,673515,11000655,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,...,6.037101e+13,0.020615,2017-09-20,None,None,None,Central,Single Family Residential,None,None
77571,2968375,17239384,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,...,6.111008e+13,0.013209,2017-09-21,None,None,None,None,Single Family Residential,None,None
77572,1843709,12773139,1.0,NaN,NaN,1.0,3.0,NaN,4.0,1.0,...,6.037434e+13,0.037129,2017-09-21,Central,None,None,Central,Single Family Residential,None,None
77573,1187175,12826780,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,6.037503e+13,0.007204,2017-09-25,None,None,None,Central,Single Family Residential,None,None

In [16]:
df = acquire_zillow('zillow.csv')

/usr/local/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (64) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [17]:
df.head()

,Unnamed: 0,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,...,6.037124e+13,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN

### Data Info Section of `acquire.py`

In [64]:
df.sort_values(by=)

0

In [72]:
def data_info(df):
    '''
    
    '''
    
    print(f'DataFrame Shape: {df.shape}')
    print('-' * len('DataFrame Shape'))
    print(f'Cols: {df.shape[0]}\nRows: {df.shape[1]}')
    print()
    
    print('DataFrame Info')
    print('-' * len('DataFrame Info'))
    df.info()
    print()
    
    for col in df.columns:
        if df[col].isnull().sum() > 0:
            print(f'{col.upper()} Null Count: {df[col].isnull().sum()}')

In [73]:
data_info(df)

DataFrame Shape: (77574, 69)
---------------
Cols: 77574
Rows: 69

DataFrame Info
--------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77574 entries, 0 to 77573
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    77574 non-null  int64
 1   id                            77574 non-null  int64
 2   parcelid                      77574 non-null  int64
 3   airconditioningtypeid         25006 non-null  float64
 4   architecturalstyletypeid      206 non-null    float64
 5   basementsqft                  50 non-null     float64
 6   bathroomcnt                   77574 non-null  float64
 7   bedroomcnt                    77574 non-null  float64
 8   buildingclasstypeid           15 non-null     float64
 9   buildingqualitytypeid         49808 non-null  float64
 10  calculatedbathnbr             76959 non-null  float64
 11  decktypeid                    614 non-null    float64
 12  finishedfloor1squarefeet      6035 non-null   float64
 13  calculatedfinishedsquarefeet  77374 non-null  float64
 14  finishedsquarefeet12          73919 non-null  float64
 15  finishedsquarefeet13          42 non-null     float64
 16  finishedsquarefeet15          3027 non-null   float64
 17  finishedsquarefeet50          6035 non-null   float64
 18  finishedsquarefeet6           386 non-null    float64
 19  fips                          77574 non-null  float64
 20  fireplacecnt                  8287 non-null   float64
 21  fullbathcnt                   76959 non-null  float64
 22  garagecarcnt                  25517 non-null  float64
 23  garagetotalsqft               25517 non-null  float64
 24  hashottuborspa                1539 non-null   float64
 25  heatingorsystemtypeid         49569 non-null  float64
 26  latitude                      77574 non-null  float64
 27  longitude                     77574 non-null  float64
 28  lotsizesquarefeet             69317 non-null  float64
 29  poolcnt                       16173 non-null  float64
 30  poolsizesum                   869 non-null    float64
 31  pooltypeid10                  465 non-null    float64
 32  pooltypeid2                   1074 non-null   float64
 33  pooltypeid7                   15078 non-null  float64
 34  propertycountylandusecode     77574 non-null  object
 35  propertylandusetypeid         77574 non-null  float64
 36  propertyzoningdesc            50474 non-null  object
 37  rawcensustractandblock        77574 non-null  float64
 38  regionidcity                  76102 non-null  float64
 39  regionidcounty                77574 non-null  float64
 40  regionidneighborhood          30973 non-null  float64
 41  regionidzip                   77524 non-null  float64
 42  roomcnt                       77574 non-null  float64
 43  storytypeid                   50 non-null     float64
 44  threequarterbathnbr           10105 non-null  float64
 45  typeconstructiontypeid        222 non-null    float64
 46  unitcnt                       50702 non-null  float64
 47  yardbuildingsqft17            2393 non-null   float64
 48  yardbuildingsqft26            70 non-null     float64
 49  yearbuilt                     77305 non-null  float64
 50  numberofstories               17596 non-null  float64
 51  fireplaceflag                 172 non-null    float64
 52  structuretaxvaluedollarcnt    77459 non-null  float64
 53  taxvaluedollarcnt             77573 non-null  float64
 54  assessmentyear                77574 non-null  float64
 55  landtaxvaluedollarcnt         77572 non-null  float64
 56  taxamount                     77569 non-null  float64
 57  taxdelinquencyflag            2900 non-null   object
 58  taxdelinquencyyear            2900 non-null   float64
 59  censustractandblock           77327 non-null  float64
 60  logerror                      77574 non-null  float64
 61  transactiondate               77574 non-null  object
 62  airconditioningdesc           25006 non-null  object
 63  architecturalstyledesc        206 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49569 non-null  object
 66  propertylandusedesc           77574 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 40.8+ MB

AIRCONDITIONINGTYPEID Null Count: 52568
ARCHITECTURALSTYLETYPEID Null Count: 77368
BASEMENTSQFT Null Count: 77524
BUILDINGCLASSTYPEID Null Count: 77559
BUILDINGQUALITYTYPEID Null Count: 27766
CALCULATEDBATHNBR Null Count: 615
DECKTYPEID Null Count: 76960
FINISHEDFLOOR1SQUAREFEET Null Count: 71539
CALCULATEDFINISHEDSQUAREFEET Null Count: 200
FINISHEDSQUAREFEET12 Null Count: 3655
FINISHEDSQUAREFEET13 Null Count: 77532
FINISHEDSQUAREFEET15 Null Count: 74547
FINISHEDSQUAREFEET50 Null Count: 71539
FINISHEDSQUAREFEET6 Null Count: 77188
FIREPLACECNT Null Count: 69287
FULLBATHCNT Null Count: 615
GARAGECARCNT Null Count: 52057
GARAGETOTALSQFT Null Count: 52057
HASHOTTUBORSPA Null Count: 76035
HEATINGORSYSTEMTYPEID Null Count: 28005
LOTSIZESQUAREFEET Null Count: 8257
POOLCNT Null Count: 61401
POOLSIZESUM Null Count: 76705
POOLTYPEID10 Null Count: 77109
POOLTYPEID2 Null Count: 76500
POOLTYPEID7 Null Count: 62496
PROPERTYZONINGDESC Null Count: 27100
REGIONIDCITY Null Count: 1472
REGIONIDNEIGHBORHOOD Null Count: 46601
REGIONIDZIP Null Count: 50
STORYTYPEID Null Count: 77524
THREEQUARTERBATHNBR Null Count: 67469
TYPECONSTRUCTIONTYPEID Null Count: 77352
UNITCNT Null Count: 26872
YARDBUILDINGSQFT17 Null Count: 75181
YARDBUILDINGSQFT26 Null Count: 77504
YEARBUILT Null Count: 269
NUMBEROFSTORIES Null Count: 59978
FIREPLACEFLAG Null Count: 77402
STRUCTURETAXVALUEDOLLARCNT Null Count: 115
TAXVALUEDOLLARCNT Null Count: 1
LANDTAXVALUEDOLLARCNT Null Count: 2
TAXAMOUNT Null Count: 5
TAXDELINQUENCYFLAG Null Count: 74674
TAXDELINQUENCYYEAR Null Count: 74674
CENSUSTRACTANDBLOCK Null Count: 247
AIRCONDITIONINGDESC Null Count: 52568
ARCHITECTURALSTYLEDESC Null Count: 77368
BUILDINGCLASSDESC Null Count: 77559
HEATINGORSYSTEMDESC Null Count: 28005
STORYDESC Null Count: 77524
TYPECONSTRUCTIONDESC Null Count: 77352